.ico_ {
    text-align: center;
    margin-top: 13px;
}

img.iconImg {
    height: 65px;
}

p.txt_o {
    text-align: center;
    margin-top: 21px;
    font-size: 15px;
}

p.txt_ {
    padding-left: 20px;
    padding-right: 20px;
    font-family: Gotham;
}

p.mailTxt {
    padding-left: 10px;
    font-family: Gotham;
    color: blue;
}
button {
    text-align: center;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 12px;
}


p.app_dev {
    padding-left: 10px;
    font-family: Gotham;
}
ion-content.md.hydrated {
    --background: white;
}

ion-content.ios.hydrated {
    --background: white;
}
