<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Rabbana Duas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let a of appPages">
            <ion-item class="item_nav" (click)="openAppPages(a.url)">

              <div class="box_" >
                <button class="app_ttl" color="primary">{{a.title}}</button>
              </div>

                <!-- <ion-card class="my-card" >
                    <ion-card-header class="app_crd_hdr" >
                      <ion-card-title class="app_ttl" style="display: inherit" ></ion-card-title>
                    </ion-card-header>
                  </ion-card> -->

            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<style>
ion-toolbar.in-toolbar.ios.toolbar-title-default.hydrated {
    /* padding-bottom: 33px; */
    height: 75px;
    padding-top: 17px;
}

ion-toolbar.in-toolbar.md.toolbar-title-default.hydrated {
    /* padding-bottom: 33px; */
    height: 75px;
    padding-top: 17px;
}



</style>