<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Duas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let a of appPages">
            <ion-item class="item_nav" >

                <ion-card class="my-card" (click)="openAppPages(a.url)">
                    <ion-card-header class="app_crd_hdr" >
                      <ion-card-title class="app_ttl" style="display: inherit" >{{a.title}}</ion-card-title>
                    </ion-card-header>
                  </ion-card>

            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
