<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="main_ttl">
      <h3 class="Rabbanas_title"> Duas</h3>
 
    </ion-title>

    <ion-buttons slot="end">
    <ion-icon name="settings" (click)="settingsPage()" style="color: white;  font-size: 23px;
    padding-right: 10px;"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cont_col">



  <!-- <div class="Cate__">
      <div class="category_content">

          <button class="p__">Duas for Forgiveness </button>
          <button class="p__">Duas for Mercy </button>
        </div>
      
   
  </div> -->

  

    <ion-card class="welcome_card" *ngFor="let a of items" (click)="OpenDetail(a)">
        <h3 class="title_">{{a?.title}}</h3>
      <ion-card-header class="crd_headr">
      
        <ion-card-title class="title_c">{{a?.do1}}</ion-card-title>
        <!-- <ion-icon class="str-icn" name="star" *ngIf="Book_M.some(e => e.title === a.title)"></ion-icon> -->

      </ion-card-header>
      <ion-card-content class="crd_cnt">
        <p class="Dual">{{a?.do2}}</p>
      </ion-card-content>
    </ion-card>
   
</ion-content>
