<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="main_ttl">
      <h3 class="Rabbanas_title"> Settings</h3>
 
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <img src ="../../assets/"> -->
  <ion-list>
    <ion-item class="xl_">
      <ion-label>Night Theme</ion-label>
      <ion-toggle [checked]="CheckTogg" [(ngModel)]="CheckTogg2" (ionChange)="cycleTheme()"></ion-toggle>
    </ion-item>

 

    <!-- <ion-item class="xl_"> 
      <ion-label>Night Mode</ion-label>
      <ion-toggle [(ngModel)]="mode2" (ionChange)="setTheme()"></ion-toggle>
    </ion-item> -->

    </ion-list>

    <div class="Items" *ngIf="view">

      <div class="xl_list">
        <p class="L_" (click)="share()">
          <span class="xl_pos">
          <ion-icon name="share" class="xl_icon"></ion-icon>
        </span>
          Share the app
        </p>

        <p class="L_">
          <span class="xl_pos">
          <ion-icon name="star-half"  class="xl_icon"></ion-icon>
        </span>
          Rate the app
        </p>

        <p class="L_" (click)="contact_us()">
          <span class="xl_pos">
          <ion-icon name="contact" class="xl_icon"></ion-icon>
        </span>
          Contact us
        </p>

      </div>
      
    </div>

    <div class="contact_form" *ngIf="contact_form">

 

      <div class="in_l">

      <p class="label_">
        Name: 
      </p>

      <p class="txt">
        Abu Abdillah Shabir Girrach
      </p>
    </div>
    <div class="in_l">

      <p class="label_">
        Email: 
      </p>

      <p class="txt_mail" (click)="mailM()">
        shabirgirrach@gmail.com
      </p>
    </div>
    <div class="in_l">

      <p class="label_">
        YouTube: 
      </p>

      <p class="txt" (click)="openUrl()">
        https://bit.ly/2Br0Mjc
      </p>
    </div>

    </div>




    <form  *ngIf="sendM"
    [formGroup]="form" 
    (ngSubmit)="sendMessage()">

    <ion-list>

      <p class="outLin" (click)="close()">
        <ion-icon name="close-circle-outline"></ion-icon>
       </p>


       <ion-item margin-bottom> 
          <ion-label>To:</ion-label> 
          <ion-input
             type="email"
             formControlName="to"></ion-input> 
       </ion-item>


       <ion-item margin-bottom> 
          <ion-label>Cc:</ion-label> 
          <ion-input
             type="email"
             formControlName="cc"></ion-input> 
       </ion-item>


       <ion-item margin-bottom> 
          <ion-label>Bcc:</ion-label> 
          <ion-input
             type="email"
             formControlName="bcc"></ion-input> 
       </ion-item>
       



       <ion-item margin-bottom> 
          <ion-label>Subject:</ion-label> 
          <ion-input
             type="string"
             formControlName="subject"></ion-input> 
       </ion-item>


       <ion-item margin-bottom> 
          <ion-label>Message:</ion-label> 
          <ion-textarea
             formControlName="message"></ion-textarea> 
       </ion-item>
 
 
       <button
          ion-button
          color="primary"
          text-center
          block [disabled]="!form.valid">Send your message</button>
    </ion-list> 
 </form>




</ion-content>
