

p.L_ {
    padding-bottom: 16px;
    padding-left: 20px;
    background: white;
    padding-top: 13px;

}

.in_l {
    display: flex;
    margin-left: 30px;
    background: white;
    padding-left: 10px;
    margin-right: 30px;
}

p.txt {
    padding-left: 10px;
}

p.txt_mail {
    padding-left: 10px;
    color: blue;
    font-family: Gotham;
    font-weight: bold;
}


ion-item.xl_.item-label.item.md.in-list.ion-focusable.hydrated.ion-valid.ion-dirty.ion-touched {
    background: white;
    --background: white;
}

ion-item.xl_.item-label.item.ios.in-list.ion-focusable.hydrated.ion-valid.ion-dirty.ion-touched {
    background: white;
    --background: white;
}

p.outLin {
    float: right;
    margin-right: 36px;
    margin-top: 30;
}

ion-icon.xl_icon.md.hydrated {
    font-size: 20px;
    padding-right: 6px;
}

ion-icon.xl_icon.ios.hydrated {
    font-size: 20px;
    padding-right: 6px;
}
